:host ::ng-deep nb-stepper .step-content {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}

.map-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 25em;
}

#map {
  height: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.alert {
  background-color: rgb(228, 224, 224);
  color: red;
  font-size: 1rem;
  height: 10%;
  margin: auto;
  padding: 0;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
