<nb-card>
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step [stepControl]="firstForm" label="First step">
        <form [formGroup]="firstForm" class="step-container">
          <p class="lorem">
            Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break
            it down. Nullizzle sapien velizzle, my shizz pimpin', shizzle my
            nizzle crocodizzle shut the shizzle up, gravida vizzle, dang.
          </p>
          <div class="input-group">
            <nb-radio-group formControlName="cityOptions" [(ngModel)]="option">
              <nb-radio *ngFor="let option of options" [value]="option.value">
                {{ option.label }}
              </nb-radio>
            </nb-radio-group>
          </div>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="secondForm" label="Second step">
        <form
          [formGroup]="secondForm"
          (ngSubmit)="onSecondSubmit()"
          class="step-container"
        >
          <div class="map-container">
            <div class="map-frame">
              <div id="map"></div>
            </div>
          </div>
          <button nbButton nbStepperPrevious>prev</button>

          <button nbButton (click)="viewMap()">map</button>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" label="Third step">
        <form
          [formGroup]="thirdForm"
          (ngSubmit)="onThirdSubmit()"
          class="step-container"
        >
          <p class="lorem">
            Things boom shackalack rhoncus yo. In fo shizzle my nizzle gangsta
            platea dictumst. Check it out pot.
          </p>
          <div class="input-group">
            <input
              nbInput
              type="text"
              placeholder="Enter something"
              class="form-control"
              formControlName="thirdCtrl"
              [ngClass]="{
                'form-control-danger':
                  thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)
              }"
            />
          </div>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>Confirm</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
        <div class="step-container">
          <h3>Wizard completed!</h3>
          <button nbButton (click)="stepper.reset()">Try again</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
