<nb-card>
  <nb-card-body class="card-body">
    <nb-stepper #stepper (stepChange)="onStepChange($event)">
      <nb-step [stepControl]="firstForm">
        <form [formGroup]="firstForm" class="step-container">
          <div class="input-group" [class.spinner]="loading">
            <div>
              <p>{{ "select_region" | translate }}</p>
              <p
                [hidden]="
                  citySelected === false || firstForm.status === 'VALID'
                "
                class="alert"
              >
                {{ "select_region_warning" | translate }}
              </p>
              <nb-radio-group
                formControlName="cityOptions"
                [(ngModel)]="option"
              >
                <nb-radio
                  [disabled]="loading"
                  *ngFor="let option of options"
                  [value]="option.value"
                >
                  {{ option.label }}
                </nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <a href="pages/available-options"
            ><button type="button" class="btn-primary" [disabled]="loading">
              {{ "prev" | translate }}
            </button></a
          >
          <button
            type="button"
            class="btn-primary"
            [disabled]="loading"
            (click)="onFirstSubmit()"
          >
            {{ "next" | translate }}
          </button>
        </form>
      </nb-step>
      <nb-step [stepControl]="secondForm">
        <form
          [formGroup]="secondForm"
          (ngSubmit)="onSecondSubmit()"
          class="step-container"
        >
          <p>
            {{ "select_filters" | translate }}
          </p>
          <div id="second-step-ui">
            <div [hidden]="loading" class="options-box">
              <div class="filters-checkbox-out">
                <div class="filters-checkbox-in" *ngFor="let filter of filters">
                  <nb-checkbox
                    formControlName="filters"
                    (change)="onChange(filter)"
                    >{{ filter }}</nb-checkbox
                  >
                </div>
                <div
                  [hidden]="
                    hidingAlerts === true
                      ? true
                      : isFilterOn === true
                      ? true
                      : false
                  "
                  class="alert"
                >
                  {{ "select_filters_warning" | translate }}
                </div>
              </div>
              <!-- This select is hidden by deafult for now -->
              <nb-select class="custom-select" [hidden]="true">
                <nb-option
                  *ngFor="let area of areas; let i = index"
                  [value]="area.id"
                  >{{ area.display }}</nb-option
                >
              </nb-select>
              <input type="file" #fileInput (change)="fileUpload($event)" />
              <button (click)="saveFile()">Export geoJson</button>
            </div>
            <div
              (mouseup)="checkDrawing()"
              (touchend)="checkDrawing()"
              class="map-container"
            >
              <div
                [hidden]="
                  hidingAlerts === true ? true : isDrawn === true ? true : false
                "
                class="alert"
              >
                {{ "draw_area_alert" | translate }}
              </div>
              <div class="map-frame">
                <div [hidden]="!loading" class="loading-mask">
                  <div class="input-group" [class.spinner]="loading"></div>
                </div>
                <div id="map"></div>
              </div>
            </div>
          </div>
        </form>
        <button
          type="button"
          class="btn-primary"
          nbStepperPrevious
          (click)="(clearMap)"
        >
          {{ "prev" | translate }}
        </button>
        <button
          type="button"
          class="btn-primary"
          (click)="onSecondSubmit()"
          (click)="(clearMap)"
        >
          {{ "next" | translate }}
        </button>
      </nb-step>

      <nb-step>
        <p class="lorem">
          {{ "markers_map" | translate }}
        </p>
        <div class="map-container">
          <div class="map-frame">
            <div id="map"></div>
          </div>
        </div>
        <button class="btn-primary" nbStepperPrevious>prev</button>
        <button class="btn-primary" (click)="onThirdSubmit()" nbStepperNext>
          {{ "next" | translate }}
        </button>
      </nb-step>
      <nb-step [stepControl]="thirdForm"
        ><form
          [formGroup]="thirdForm"
          (ngSubmit)="onFourthSubmit()"
          class="step-container"
        >
          <div class="input-group">
            <div>
              <p>{{ "project_name" | translate }}</p>
              <input
                nbInput
                type="text"
                placeholder="Project's name"
                class="form-control"
                formControlName="nameInput"
                [ngClass]="{
                  'form-control-danger':
                    firstForm.invalid && (firstForm.dirty || firstForm.touched)
                }"
              />
            </div>
            <div>
              <p>{{ "description" | translate }}</p>
              <textarea
                nbInput
                type="text"
                placeholder="Description"
                formControlName="descriptionInput"
              ></textarea>
            </div>
          </div>
          <button class="btn-primary" nbStepperPrevious>prev</button>
          <a href="pages/available-options"
            ><button
              [disabled]="thirdForm.value.nameInput === ''"
              class="btn-primary"
              type="button"
              (click)="onFourthSubmit()"
            >
              {{ "save" | translate }}
            </button></a
          >
        </form>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
