<nb-card>
  <nb-card-body>
    <nb-stepper #stepper (stepChange)="onStepChange($event)">
      <nb-step [stepControl]="firstForm" label="First step">
        <form [formGroup]="firstForm" class="step-container">
          <div
            class="input-group"
            style="
              display: flex;
              flex-direction: column;
              align-content: center;
              align-items: center;
            "
          >
            <div>
              <p>Select the city to apply filters to:</p>
              <nb-radio-group
                formControlName="cityOptions"
                [(ngModel)]="option"
              >
                <nb-radio *ngFor="let option of options" [value]="option.value">
                  {{ option.label }}
                </nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <button
            type="button"
            nbButton
            nbStepperNext
            (click)="onFirstSubmit()"
          >
            next
          </button>
        </form>
      </nb-step>
      <nb-step [stepControl]="secondForm" label="Second step">
        <div
          class="form-check"
          *ngFor="let filter of filters"
          style="display: flex"
        >
          <nb-checkbox (change)="onChange(filter)">{{ filter[1] }}</nb-checkbox>
        </div>
        <form
          [formGroup]="secondForm"
          (ngSubmit)="onSecondSubmit()"
          class="step-container"
        >
          <div class="map-container">
            <div class="map-frame">
              <div id="map"></div>
            </div>
          </div>
          <button type="button" nbButton nbStepperPrevious (click)="(clearMap)">
            prev
          </button>
          <button
            type="button"
            nbButton
            nbStepperNext
            (click)="(clearMap)"
            (click)="onSecondSubmit()"
          >
            next
          </button>
        </form>
      </nb-step>
      <nb-step label="Third step">
        <p class="lorem">
          Things boom shackalack rhoncus yo. In fo shizzle my nizzle gangsta
          platea dictumst. Check it out pot.
        </p>
        <div class="map-container">
          <div class="map-frame">
            <div id="map"></div>
          </div>
        </div>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>Confirm</button>
      </nb-step>
      <nb-step [stepControl]="thirdForm" label="Fourth step"
        ><form
          [formGroup]="thirdForm"
          (ngSubmit)="onThirdSubmit()"
          class="step-container"
        >
          <div>
            <p>Project's name:</p>
            <input
              nbInput
              type="text"
              placeholder="Project's name"
              class="form-control"
              formControlName="projectName"
              [ngClass]="{
                'form-control-danger':
                  firstForm.invalid && (firstForm.dirty || firstForm.touched)
              }"
            />
          </div>
          <div>
            <p>Description:</p>
            <textarea
              nbInput
              type="text"
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </div>
        </form>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
