@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "@nebular/theme/styles/globals";
@import "@nebular/auth/styles/globals";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/grid";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

/* Define colors */
:root {
  --white-color: #fff;
  --background-color: #f7f9fc;
  --text-color: rgba(0, 0, 0, 0.87);
  --btn-text-color: #000;
  --primary-color: #92d050;
  --primary-light-color: #b1dd81;
  --primary-dark-color: #75b531;
  --secondary-color: #232629;
  --secondary-light-color: #303336;
  --info-color: #5092d0;
  --success-color: #4fd06d;
  --error-color: #d95b5b;
  --error-light-color: #e68383;
  --warning-color: #d08e4f;
}

body {
  background: var(--background-color) !important;
  margin: 0px;
  height: 100%;
  color: var(--text-color);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
}
h2 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.25;
}
h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}
h4 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25;
}
h5 {
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.25;
}
h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}

.container {
  padding: 20px;
}

.upperSide {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

//stepper

.input-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#second-step-ui {
  display: flex;
}

//button style

button {
  border: 0px !important;
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.75;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  margin: 24px 0px;
  cursor: pointer;
}

button:disabled {
  background-color: rgb(226, 215, 215) !important;
}

button:disabled:hover {
  background-color: rgb(206, 194, 194) !important;
}

.btn-primary {
  color: var(--btn-text-color);
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-light-color) !important;
}

.btn-secondary {
  color: var(--white-color);
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-light-color);
}

.btn-outline-secondary {
  border: 1px solid rgba(35, 38, 41, 0.5);
  color: var(--secondary-color);
  background-color: var(--white-color);
}

.btn-outline-secondary:hover {
  background-color: rgba(35, 38, 41, 0.04);
}

.btn-error {
  color: var(--btn-text-color);
  background-color: var(--error-color);
}

.btn-error:hover {
  background-color: var(--error-light-color);
}

a {
  color: var(--primary-dark-color);
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}

.divider {
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
  margin-bottom: 24px;
}

//available-options' list style

.list-group li {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.list-group li:hover {
  background-color: var(--background-color);
}

.list-group li div {
  width: 33%;
  overflow-wrap: break-word;
}

.list-group li p {
  margin-bottom: 8px;
}

.list-group a {
  font-weight: bold;
  color: var(--primary-color) !important;
}

.project-name {
  font-weight: bold;
  color: var(--primary-color);
}

//create new > step 2 style

.options-box {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: stretch;
}

.custom-select {
  border: 1px solid black !important;
  background-color: var(--background-color);

  padding: 4% !important;
  margin: 0 !important;
}

.custom-select .select-button {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  align-items: center;
  font-size: 14px !important;
  font-weight: 100 !important;
}

//filters box

.alert {
  color: var(--warning-color);
  font-size: 14px !important;
  padding: 0px !important;
  align-items: center;
  background-color: var(--background-color);
}

.filters-checkbox-out {
  flex-grow: 1;
  border: 1px solid black;
  background-color: var(--background-color);
  padding: 4%;
}

.filters-checkbox-in {
  display: flex;
  font-size: 14px !important;
  font-weight: 100 !important;
}

//map div
.map-container {
  flex-grow: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 2%;
}

.map-frame {
  border: 1px solid black;
  height: 25em;
  overflow: hidden;
}

.loading-mask {
  z-index: 100;
  background-color: gray;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#map {
  height: 100%;
}

//progress bar
.progress-bar {
  width: 100%;
  background-color: #ccc;
  height: 20px;
}

.progress {
  background-color: #4caf50;
  height: 100%;
  width: 0;
  transition: width 0.3s;
}

@media (min-width: 821px) {
  .project-buttons {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 820px) {
  .upperSide {
    display: flex;
    align-items: center;
    gap: 10%;
    flex-wrap: wrap;
  }

  .list-group li {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-buttons {
    width: 100%;
    align-items: baseline;
  }

  .list-group li p {
    font-size: 12px;
    align-items: baseline;
  }

  .list-group li a {
    font-weight: lighter;
    font-size: 22px;
  }

  .list-group li div {
    width: auto;
  }

  .header {
    padding: 5px !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  .map-container {
    margin: 0 !important;
  }

  #second-step-ui {
    flex-direction: column !important;
    gap: 20px;
  }

  .step-content {
    padding: 40px 0px !important;
  }

  .card-body {
    padding: 1rem 15px;
  }
}
