:host ::ng-deep nb-stepper .step-content {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}

.loading-mask {
  z-index: 100;
  width: 90%;
  height: 61%;
  background-color: gray;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}

@media (min-width: 1079px) {
  .loading-mask {
    width: 93%;

    height: 62%;
  }
}

@media (max-width: 820px) {
  .loading-mask {
    width: 96%;

    height: 62%;
  }
}

@media (max-width: 414px) {
  .loading-mask {
    width: 92%;

    height: 59%;
  }
}
