<div class="container">
  <div class="upperSide">
    <h1>{{ "projects" | translate }}</h1>
    <!-- <select
      (change)="switchLanguage($event.target.value)"
      id="languageSelector"
      [value]="getCookie('language')"
    >
      <option value="en">English</option>
      <option value="fr">Français</option>
      <option value="fi">Suomi</option>
      <option value="es">Español</option>
      <option value="it">Italiano</option>
      <option value="nl">Hollandse</option>
    </select> -->
    <button class="btn-primary" routerLink="/pages/create-layer">
      {{ "new_project" | translate }}
    </button>
  </div>
  <div class="divider"></div>

  <h5 *ngIf="previousSearches.length === 0; else list">
    {{ "no_results" | translate }}&nbsp;<a
      class="emptyListLink"
      (click)="navigate()"
      >{{ "create_first" | translate }}</a
    >
  </h5>
  <ng-template #list>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let search of previousSearches"
        [attr.id]="search.id"
      >
        <div>
          <p class="project-name">
            {{ search.name }}
          </p>
          <p>{{ search.description }}</p>
        </div>
        <div>
          <p class="project-name">
            {{ search.city }}
          </p>
          <p>{{ search.filters }}</p>
        </div>
        <div class="project-buttons">
          <button
            class="btn-primary"
            routerLink="/pages/view-layer"
            (click)="storeIds(search.id)"
          >
            {{ "view" | translate }}
          </button>
          &nbsp;
          <button class="btn-primary" (click)="setConfirmation(search.id)">
            {{ "delete" | translate }}
          </button>
          <div *ngIf="confirmationId === search.id" class="confirmation-dialog">
            <h5>{{ "confirm_deletion" | translate }}</h5>
            <p>{{ "confirm_deletion_message" | translate }}</p>
            <button class="dialog-button" (click)="deleteSearch(search.id)">
              {{ "confirm" | translate }}
            </button>
            <button class="dialog-button" (click)="closeDialog()">
              {{ "cancel" | translate }}
            </button>
          </div>
        </div>
      </li>
    </ul>
  </ng-template>
  <script>
    window.addEventListener("message", (event, $scope) => {
      localStorage.setItem("token", event.data.accessToken);
    });
  </script>
</div>
