<div class="container">
  <div style="display: flex; justify-content: space-between">
    <h1>Projects</h1>
    <button class="btn-primary" routerLink="/pages/create-layer">
      Create New Project
    </button>
  </div>
  <div class="divider"></div>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let search of previousSearches">
      <div>
        <p class="project-name">
          {{ search.name }}
        </p>
        <p>{{ search.id }}</p>
      </div>
      <div>
        <p class="project-name">
          {{ search.date }}
        </p>
        <p [hidden]="search.completed === true">Pending</p>
        <p [hidden]="search.completed === false">Completed</p>
      </div>
      <div>
        <button class="btn-primary" routerLink="/pages/view-layer">View</button>
        &nbsp;
        <button
          class="btn-primary"
          routerLink="/pages/edit-layer"
          (click)="storeIds(search.id)"
        >
          Edit
        </button>
        &nbsp;
        <button class="btn-primary">Delete</button>
      </div>
    </li>
  </ul>
</div>
