<nb-card>
  <div class="container">
    <p class="lorem">
      {{ "markers_map_view" | translate }}
    </p>
    <div class="map-container">
      <div class="map-frame">
        <div [hidden]="!loading" class="loading-mask">
          <div class="input-group" [class.spinner]="loading"></div>
        </div>
        <div id="map"></div>
      </div>
    </div>
    <a href="pages/available-options"
      ><button type="button" class="btn-primary">
        {{ "prev" | translate }}
      </button></a
    >

    &nbsp;
    <button class="btn-primary" routerLink="/pages/edit-layer">
      {{ "edit" | translate }}
    </button>
  </div>
</nb-card>
